body {
    margin: 0;
    padding: 0;
    font: arial;
    background-color: #000;
}

/* Container Section */

.container{
    width: 800px;
    margin: 0 auto;
    border-left: 2px solid #ff8c00;
    border-right: 2px solid #ff8c00;
    padding: 50px 0;
    background-color: #222;
}

/* Header Section */

/* Top Header */

.header{
    text-align: center;
}

.top img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title{
    color: #00ff04;
    font-size: 32px;
    font-weight: bold;
}
/* social media */

.social-media-links {
    font-size: 18px;
    padding-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
    transition: color 0.3s;
}

.link:hover{
    color: #ff8c00;
}

/* Blog Section Start */

.blog-title{
    text-align: center;
}

.blog ul{
    list-style: none;
}

.article{
    text-align: center;    
}

.blog ul li{
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

.blog ul li a:hover{
    color: #ff8c00;
}

.color1{
    background-color: #ffe9c5;
    padding: 20px;
}

.color2{
    background-color: #feffe2;
    padding: 20px;
}
